{% extends "layout.twig" %}

{% block main %}
    <h1>{{ title }}</h1>
    {% for section in items %}
        {% if section.type == "text" %}
            {% include "sections/text.twig" with {
                title: section.title,
                text: section.text
            } only %}
        {% elseif section.type == "reusable" %}
            {% set reusable = section.reusable.section.0 %}
            {% if reusable.type == "text" %}
                {%  include "sections/text.twig" with {
                    title: reusable.title,
                    text: reusable.text
                } only %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
